// variables.scss
$jel-backGroudColor: #f7fafc;
$jel-brandColor: #d62731; //品牌色 价格颜色
$jel-buttonColor: #f56c6c; // 新增按钮色

$jel-font-title: #333333; //标题
$jel-font-dec: #aaaaaa; // 辅助文字
$jel-font-dec2: #777777; // 辅助文字2
$jel-font-prompt: #ff6b19; // 提示文字-审核中
$jel-font-success: #27b20b; // 提示文字-待取货

$jel-border: #f1f1f1; // 边框色
